.filter__items{
    padding: 2px 15px 22px 15px;
    border-bottom: 1px solid silver;
       
    &_div{
        display: flex;
        justify-content: space-between;
        div.fx-1{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            justify-content: space-between;
        }
    }

    input[type=radio] {
        display:none;
    }
    
    input[type=radio] + label {
        display: inline-block;
        border: 1px solid whitesmoke;
        padding: 8px 15px;
        cursor: pointer;
    }
    
    input[type=radio]:checked + label, input[type=radio] + label:hover {
        border: 1px solid #ccc8c8;
    }
    &-type, &-building, &-btns{
        display: flex;
        label{
            flex: 1 1 0px;
        }
    }
    &-t{
        display: flex;
        align-items: center;
        &--title{
            text-align: left;
            flex: 1;
        }
        
        
    }
    .close{
        position: fixed;
        right: 0;
        display: block;
        height: 100%;
        background-color: #ffffff9e;
        top: 0;
        width: calc(100% - 350px);
    }
    &_selection{
        width: 100%;
        padding: 8px 5px;
        color: inherit;
        font-size: 1rem;
        cursor: pointer;
        option{
            padding: 8px 5px;
        }
    }
    &-btns{
        img{
            position: absolute;
            left: 60px;
            bottom: 18px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
        img:hover{
            transform: scale(1.2);
        }
        justify-content: flex-end;
        div{
            text-transform: none;
            margin-right: 1rem;

    padding: 9px 25px;

        }
    }
}



.openfilter{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: black;
    padding: 2px 7px;
    z-index: 1;
    color: white;
    padding: 3px 14px;
    
    &:hover{
        
        cursor: pointer;
        color: inherit;
        background-color: white;
        border: 1px solid #676e7b;
        ;
    }
}